// ChatBot.scss

@use "/src/styles/partials/variables.scss" as *;
@use "/src/styles/partials/typography.scss" as *;

.chatbot {
  background-color: $almond;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  @media (max-width: 768px) {
    width: 100%; 
    min-width: 100%;
    border-radius: 0.5rem;
  }

  &__doctor-select {
    margin-bottom: 2rem;
  }

  &__label {
    margin-right: 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__dropdown {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1.2rem;
  }

  &__screen {
    width: 25rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
    height: 30rem;
    overflow-y: auto;
  }

  &__message {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $finn;

    &--patient {
      text-align: right;
      color: $finn;
    }

    &--doctor {
      text-align: left;
      color: #333;
    }
  }

  &__input-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    &__input {
      flex-grow: 1;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      margin-right: 1rem;
      font-size: 1.4rem;
        
    }
 


  }
  &__send-button {
    background-color: $finn;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($finn, 10%);
    }
  }
}
