@use "../../styles/partials/variables" as *;
@use "/src/styles/partials/typography.scss" as *;

.recordList{
    padding: 0 2rem 10rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient($sand, $almond);

    &__title{
        font-size: 4rem;
        text-align: center;
    }

    &__search{
        width: 40%;
        height: 5rem;
        margin-bottom: 2rem;
        font-family: "Roboto-Regular";
        border: 1px solid $umber;
        border-radius: 1rem;
        padding-left: 1rem;
        font-size: 2rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

        &::placeholder{
            font-family: "Roboto-Regular";
            margin-bottom: 2rem;
        }
    }

    &__table{
        width: 90%;
        border: 1px solid $umber;
        border-radius: 1rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    &__row{
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        background-color: $umber;
        color: white;
        border-radius: 1rem 1rem 0 0;
    }

    &__header{
        margin: 2rem 0;
    }

    &__content{
        background-color: $white;
        border-radius: 0 0 1rem 1rem;
    }
}