@use "./variables.scss" as *;
@use "./typography.scss" as *;

@include font-faces;

// Global styles
@mixin global-styles {
    body{
        font-family: "Roboto-Regular";
        margin: 0;
        padding: 0;
        width: 100%;
        
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        font-size: 16px;
        margin: 0;
    }

    a{
        text-decoration: none;
    }


}

