@use "../../styles/partials/variables" as *;

.record{

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $umber;
    
    &:last-child{
        border-bottom: unset;
    }

    &__col{
        width: 33.33%;
        text-align: center;
        font-size: 1.25rem;
        
        padding: 1.25rem 0;
    }
}